<html>
<head>
	<title>Stats for {{ appname }}</title>
</head>
<body>
	<h1>Page views for {{ appname }}</h1>
	<a href="/{{ appname }}?filter=day">Last day</a> -
	<a href="/{{ appname }}?filter=week">Last week</a> -
	<a href="/{{ appname }}?filter=month">Last month</a> -
	<a href="/{{ appname }}?filter=year">Last year</a> -
	<a href="/{{ appname }}?filter=all">Last everything</a> -
	<table>
		<thead>
			<th>Title</th>
			<th>Number of views</th>
		</thead>
		<tbody>
			{% for pv in views %}
			<tr>
				<td><a target="_blank" href="{{ pv.url}}">{{ pv.title }}</a></td>
				<td>{{ pv.hits }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>