{% extends 'layout.html' %}
{% block heading %}
<h1>Stats for {{ appname }}</h1>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-2 col-sm-4 col-xs-2">
        <a href="/{{ appname }}?filter=day" class="btn btn-primary btn-lg">Day</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-2">
        <a href="/{{ appname }}?filter=week" class="btn btn-primary btn-lg">Week</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-2">
        <a href="/{{ appname }}?filter=month" class="btn btn-primary btn-lg">Month</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-2">
        <a href="/{{ appname }}?filter=year" class="btn btn-primary btn-lg">Year</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-2">
        <a href="/{{ appname }}?filter=all" class="btn btn-primary btn-lg">All</a>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-9">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Page</th>
                    <th style="width:15%"># hits</th>
                    <th style="width:15%"></th>
                </tr>
            </thead>
            <tbody>
                {% for pv in views %}
                <tr>
                    <td><a href="/url/{{ encodeURIComponent(pv.url)}}">{{ pv.title }}</a></td>
                    <td>{{ pv.hits }}</td>
                    <td align="right"><a target="_blank" href="{{ pv.url }}" class="btn btn-default btn-sm">Go there!</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>