{% extends 'layout.html' %}
{% block title %}
Stats for '{{ title }}'
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-7">
        <p class="lead">Stats for '{{ title }}'</p>
    </div>
    <div class="col-lg-4">
        <a target="_blank" href="{{ url }}" class="btn btn-default btn-sm">Go there!</a>
        <br />
        <a href="/{{appname}}/" class="btn btn-default btn-sm">Back</a>
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2">Total hits:</div>
    <div class="col-lg-offset-1 col-lg-8">'{{ totalHits }}' views</div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2">Best day:</div>
    <div class="col-lg-offset-1 col-lg-8">'{{ max.viewedAt.toISOString().split('T')[0] }}', '{{ max.hits }}' hits</div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2">Best day:</div>
    <div class="col-lg-offset-1 col-lg-8">'{{ min.viewedAt.toISOString().split('T')[0] }}', '{{ min.hits }}' hits</div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2"><p class="lead">Last 15 days:</p></div>
</div>
<div class="row">
    <div id="statsChartDiv" class="col-lg-offset-1 col-lg-9">
    	<canvas id="statsChart" width="100" height="100"></canvas>
        <span id="onlyOneDay"></span>
    </div>
</div>

<script type="text/javascript">
    var xs = {{ JSON.stringify(hits) }};
    var ys = {{ JSON.stringify(viewsAt) }};

    if(xs.length === 1) {
       $("#statsChart").hide();
       $("#onlyOneDay").text(xs[0]);
       $("#onlyOneDay").css({'font-size':'14vmax'});

    }

    if(xs.length > 1){
        $("#onlyOneDay").hide(); 

        var data = {
        	labels: ys,
        	datasets: [{
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
            	label: '{{ title }}',
            	data : xs
            }]
        };

        jQuery(document).ready( function(){
            //Get the canvas & context
            var c = $('#statsChart');
            var ct = c.get(0).getContext('2d');
            var container = $(c).parent();

            //Run function when browser resizes
            $(window).resize( respondCanvas );

            function respondCanvas(){
                c.attr('width', $(container).width() ); //max width
                c.attr('height', $(container).height() ); //max height

                //Call a function to redraw other content (texts, images etc)
                var myLineChart = new Chart(ct).Line(data);
            };

            //Initial call
            respondCanvas();

        });
    } 
</script>